body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #d1e4ff;
}

.messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    max-width: 70%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.message.user {
    align-self: flex-end;
    background-color: #e5e5e5;
    color: black;
}

.message.bot {
    align-self: flex-start;
    background-color: #e5e5e5;
    color: black;
}

.eliza_logo {
    height: 300px;
    width: 450px;
}

.input-container {
    display: flex;
    padding: 10px;
    background-color: rgb(88, 12, 165);
    border-top: 1px solid #ddd;
}

.input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-container button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #025595;
}